<nav>
  <head>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quod beatae amet nisi. Quo, nihil atque expedita ducimus totam non repellendus nostrum obcaecati libero consequuntur, debitis fugit, assumenda quam iure.
    </p>
    <img src="https://theme-refresh-demo.myshopify.com/cdn/shop/files/logo.png?v=1650474991" alt="" height="50px" width="50px">
  </head>
</nav>