<nav>
  <head>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quod beatae amet nisi. Quo, nihil atque expedita ducimus totam non repellendus nostrum obcaecati libero consequuntur, debitis fugit, assumenda quam iure.
    </p>
  </head>
</nav>