<nav>
    <header>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quos eum nihil illo! Laborum necessitatibus iure corrupti vel eum repellendus adipisci voluptatibus obcaecati numquam eligendi tempora quos, repudiandae possimus distinctio. xz
        </p>
    </header>
</nav>