<section>
  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  <div class="collection">
    <h1>jai shree ram</h1>
    <div class="section-image">
      <img src="{{ 'Screenshot_20240111_122532.png' | asset_url }}" alt="Screenshot_20240111_122532" height="100px" width="100px">
      <img src="{{ 'bhai.jpg' | asset_url }}" alt="second image" height="100px" width="100px">
    </div>
  </div>
</section>
