<section>
  {% if settings.enable_announcement_bar %}
    <div class="announcement-bar">
      <h1>{{ settings.announcement_heading }}</h1>
      <p>{{ settings.announcement_text }}</p>
    </div>
  {% endif %}
</section>
