<section>
  
    <div class="announcement-bar" id="announce">

      <p>Welcome to my website</p>
      <span onclick="hide()" >X</span>
    </div>
 <script>
function hide(){
  let hidediv = document.getElementById("announce")
  hidediv.style.display="none"
}
 </script>
</section>
