<section>
  
    <div class="announcement-bar" id="announce">

      <p >Welcome to my website</p>
      <span onclick="hide()" >X</span>
    </div>

</section>

<script>
  function hide(){
     document.getElementById("announce").style.width="0px"
    
  }
   </script>
