<section>
  
    <div class="announcement-bar" id="announce">

      <p id="para">Welcome to my website</p>
      <span onclick="hide()" >X</span>
    </div>

</section>

<script>
  function hide(){
    let hidediv = document.getElementById("announce")
    hidediv.style.width="0px"
    document.getElementById("para").style.display ="none"
  }
   </script>
