body {
  background-color: "{{ settings.bg }}";
  padding: 0;
  margin: 0;
}

/**
 * --------------------------------------------------------------------
 * ANNOUNCEMENT BAR
 * --------------------------------------------------------------------
 */

.announcement-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;

  background-color: #4770db;
}
.announcement-bar p {
  color: white;
  font-weight: bold;
}
.announcement-bar:hover {
  background-color: red;
  transition: 0.6s;
}
.announcement-bar:hover p {
  color: white;
}

nav {
  background-color: blue;
}
